.mat-tab-body-content.ng-trigger.ng-trigger-translateTab {
  padding: 20px !important;
}

h2 {
  margin-top: 30px;
}

thead {
  background-color: #0f5b94 !important;
}

.mat-header-cell {
  color: white;
}


// corregir cambiar colores por variablessssssssssss
