h2 {
  margin-top: 30px;
}

thead {
  background-color: #0f5b94 !important;

  th.mat-header-cell {
    color: var(--color-white1);
  }
}

th.mat-header-cell,
td.mat-cell {
  padding: 15px !important;
  .icon-user {
    color: var(--color-green);
  }

  .icon-mail {
    color: var(--color-gray);
  }
}

.space {
  white-space: nowrap;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}
