/* You can add global styles to this file, and also import other style files */

:root {
  --color-white1: white;
  --color-white2: #e4e4e4;
  --color-blue1: #3384bf;
  --color-blue2: #1976d2;
  --color-green: #5ccf5f;
  --color-gray: #9a9a9a;
}

* h2 {
  font-weight: normal;
}

* div.mat-tab-body-content.ng-trigger.ng-trigger-translateTab {
  padding: 20px !important;
}

* .mat-tab-body.mat-tab-body-active {
  overflow-y: hidden !important;
}
