/* You can add global styles to this file, and also import other style files */

:root {
  --color-white1: white;
  --color-white2: #e4e4e4;
  --color-blue1: #3384bf;
  --color-blue2: #1976d2;
}

h2 {
  font-weight: normal;
}
